.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 13px 16px;
  background: white;
 
}

.header_section{
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;


 @media (min-width: 2360px) {
     margin-right: 200px;
  }


  @media (max-width: 2360px) {
     margin-right: 0px;
  }
}



 

.header__logo img {
  height: 24px;
}

.header__title {
  font-size: 14px;
  font-weight: bold;
}

.header__nav {
  display: flex;
  gap: 8px;
}

.btn {
  border: none;
  padding: 6px 14px;
  border-radius: 80px;
width: 100px;
height: 34px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.btn--yellow {
  font-weight: 400;
font-size: 16px;
line-height: 163%;
text-align: center;
  background-color: #ffde3b;
  color: black;
}
